<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ETNA Automation Suite">
	<listeners>
        	<listener class-name="org.etna.maincontroller.MainController"/>
        	<listener class-name="org.etna.utils.ReportGenerator"/>
  	</listeners>
  
 <test name="regression(failed)(failed)">
    <groups>
      <run>
        <include name="regression"/>
      </run>
    </groups>
    <classes>
      <class name="org.etna.modules.APAModuleTest">
        <methods>
          <include name="setUp"/>
          <include name="verifyApprovalCartFunctionality_SuperUser"/>
          <include name="startRecording"/>
          <include name="callStopRecording"/>
        </methods>
      </class> <!-- org.etna.modules.APAModuleTest -->
      <class name="org.etna.modules.ShopByBrandsModuleTest">
        <methods>
          <include name="setUp"/>
          <include name="TC_Brand_003_unsignedUser_clickingViewAllBrandsLinkShouldNavigateToShopByBrandsPage"/>
          <include name="TC_Brand_005_unsignedUser_verificationOfBrandsFirstLetterLink"/>
          <include name="TC_Brand_006_unsignedUser_verificationOfBrandAfterClickingOnAnyBrandNameDisplayedInList_MultipleProducts"/>
          <include name="TC_Brand_002_TC_Brand_010_unsignedUser_clickOnOneOfTheBrandLinksAndVerifyAssertThePageForTheParticularBrand"/>
          <include name="startRecording"/>
          <include name="TC_Brand_004_TC_Brand_007_TC_Brand_008_TC_Brand_009_unsignedUser_clickingBrandsLinkShouldNavigateToShopByBrandsPage"/>
          <include name="TC_Brand_006_unsignedUser_verificationOfBrandAfterClickingOnAnyBrandNameDisplayedInList_OnlyOneProduct"/>
          <include name="TC_Brand_001_unsignedUser_hoverOverBrandsLinkInTopNavigationMenu"/>
          <include name="callStopRecording"/>
        </methods>
      </class> <!-- org.etna.modules.ShopByBrandsModuleTest -->
      <class name="org.etna.modules.HomePageModuleTest">
        <methods>
          <include name="setUp"/>
          <include name="verifyContentsOfHeaderLinks"/>
          <include name="verifyContactUsPositives"/>
          <include name="verifyHomePageBeforeLogin"/>
          <include name="startRecording"/>
          <include name="callStopRecording"/>
          <include name="verifyAllFooterLinks"/>
          <include name="clickOnLogoNavigateBackToHomePage"/>
          <include name="quickOrderPadHeaderLink"/>
          <include name="verifyContentsOfFooterLinks"/>
          <include name="verifyAllDivisionsSubCategories"/>
          <include name="quickOrderPadFooterLinkBeforeLogin"/>
          <include name="verifyContactUsES"/>
        </methods>
      </class> <!-- org.etna.modules.HomePageModuleTest -->
      <class name="org.etna.modules.GeneralSearchModuleTest">
        <methods>
          <include name="setUp"/>
          <include name="verifySearchFunctionality_narrowSearch_partNumber"/>
          <include name="verifyAlertMessageWhenGoButtonIsClickedWithoutProvidingSearchText"/>
          <include name="startRecording"/>
          <include name="verifyPDPNavigationOfSearchFunctionality_Keyword"/>
          <include name="verifySearchFunctionality_PartialPartNumber"/>
          <include name="verifyInvalidSearch"/>
          <include name="callStopRecording"/>
          <include name="verifySearchPlaceHolderAndGoButton"/>
          <include name="verifySearchFunctionality_PartNumber"/>
          <include name="verifyPDPNavigationOfSearchFunctionality_narrowSearch_UPC"/>
          <include name="verifyPDPNavigationOfSearchFunctionality_ManufacturerName"/>
          <include name="verifySearchFunctionality_MPN"/>
          <include name="verifyPDPNavigationOfSearchFunctionality_narrowSearch_MPN"/>
          <include name="verifySearchFunctionality_UPC"/>
        </methods>
      </class> <!-- org.etna.modules.GeneralSearchModuleTest -->
      <class name="org.etna.modules.OrderFulFillmentModuleTest">
        <methods>
          <include name="setUp"/>
          <include name="beforeTest"/>
          <include name="beforeSuite"/>
          <include name="tearDown"/>
          <include name="orderFullFillmentFlow_ErrorScenario_WhenEmailIdIsNotProvidedInShippingDetails"/>
          <include name="orderFullFillmentFlow" invocation-numbers="0 1 2 3"/>
          <include name="startRecording"/>
          <include name="orderFullFillment_ES" invocation-numbers="0 1"/>
          <include name="callStopRecording"/>
        </methods>
      </class> <!-- org.etna.modules.OrderFulFillmentModuleTest -->
      <class name="org.etna.modules.SearchV2ModuleTest">
        <methods>
          <include name="setUp"/>
          <include name="partialShortDescriptionSearch" invocation-numbers="0"/>
          <include name="keyword_OrCond_BNOrUPC"/>
          <include name="startRecording"/>
          <include name="partialAutoSuggest" invocation-numbers="0 1"/>
          <include name="callStopRecording"/>
        </methods>
      </class> <!-- org.etna.modules.SearchV2ModuleTest -->
      <class name="org.etna.modules.CompareModuleTest">
        <methods>
          <include name="setUp"/>
          <include name="verifyComparePage_ProductMode"/>
          <include name="verifyComparePage_SKUMode"/>
          <include name="comparisionOfProductsWhichAreFromDifferentCategory"/>
          <include name="verifyCompareLinkText_clear"/>
          <include name="alert_Text_When_No_Item_Is_Selected"/>
          <include name="highlightOffButtonVerification"/>
          <include name="alert_Text_When_One_Item_Is_Selected"/>
          <include name="startRecording"/>
          <include name="highlightSimilarButtonVerification"/>
          <include name="verify_AlertText_Remove_WhenTwoItemsArePresent"/>
          <include name="callStopRecording"/>
          <include name="addToCartButtonCallForPriceDisable"/>
          <include name="verifyCompare_Brands_DifferentPages"/>
          <include name="compare_Two_Items"/>
          <include name="verifyCompare_SameBrand"/>
          <include name="deletionOfAnItemFromComparePage"/>
          <include name="verifyCompareLinkText"/>
          <include name="verifyCompareItems_OneItemInListView_OneItemInGridView"/>
          <include name="verifyCompare_ClickingOnImage_NavigateToDetailsPage"/>
          <include name="addingAnItemToCartFromComparePage"/>
          <include name="alertMessageWhenMoreThanFiveItemsAreSelectedForCompare"/>
          <include name="highlightDifferentButtonVerification"/>
          <include name="verifyingOfCountAfterDeselectingTheCheckboxes"/>
        </methods>
      </class> <!-- org.etna.modules.CompareModuleTest -->
      <class name="org.etna.modules.QuickOrderPadModuleTest">
        <methods>
          <include name="setUp"/>
          <include name="fileUploadNoFileSelectedAtFirst"/>
          <include name="copyPasteCSVFile"/>
          <include name="startRecording"/>
          <include name="copyPasteTabDelimitedFile"/>
          <include name="callStopRecording"/>
          <include name="cartFileUpload_Remove"/>
          <include name="cartFileUpload_Seperate"/>
          <include name="speedEntryCombine"/>
          <include name="verifyQuickOrderLandingPage"/>
          <include name="cartFileUpload"/>
          <include name="speedEntryRemove"/>
          <include name="speedEntrySeperate"/>
          <include name="cartFileUploadCombine"/>
          <include name="speedEntrySmoke"/>
          <include name="cartFileUploadDifferentFormatImg"/>
          <include name="speedEntryInvalidQuantity"/>
          <include name="cartFileUploadDifferentFormatTxt"/>
        </methods>
      </class> <!-- org.etna.modules.QuickOrderPadModuleTest -->
      <class name="org.etna.modules.MyProductGroupModuleTest">
        <methods>
          <include name="setUp"/>
          <include name="verifyAddingProductToExistingMyProductGroup_GridView"/>
          <include name="verifyMyProductCreation_GridView_ProductListPage"/>
          <include name="startRecording"/>
          <include name="callStopRecording"/>
        </methods>
      </class> <!-- org.etna.modules.MyProductGroupModuleTest -->
    
      <class name="org.etna.modules.CategoryModuleTest">
        <methods>
          <include name="setUp"/>
          <include name="startRecording"/>
          <include name="TC_categories_003_navigateProductListPage"/>
          <include name="TC_categories_005_ClickingOnImages"/>
          <include name="TC_categories_001_TC_categories_006_TC_categories_007_TC_categories_008"/>
          <include name="TC_categories_002"/>
          <include name="callStopRecording"/>
        </methods>
      </class> <!-- org.etna.modules.CategoryModuleTest -->
      <class name="org.etna.modules.PDPModuleTest">
        <methods>
          <include name="multiple_UOM_PLP_PriceUpdate"/>
          <include name="pG_PLP_CreatingPGSameName"/>
          <include name="TC_PDP_001_TC_PDP_003_TC_PDP_013_TC_PDP_014_unsignedUser_verifyProductDetailsPageTest"/>
          <include name="creating_Same_CPN_ErrorScenarioTest"/>
          <include name="cpn_clickAdd_ErrorScenarioTest"/>
          <include name="pG_PLP_NoGroupSelected_ES"/>
          <include name="ShareFunctionality_ES"/>
          <include name="multiple_UOM_PDP_PriceUpdate"/>
          <include name="startRecording"/>
          <include name="tc005_ListViewGridView"/>
          <include name="tc006_verifyProductListPage_ShowResultsPerPage"/>
          <include name="createPGPLPInPopUp"/>
          <include name="TC_PDP_006_enlargeImageFunctionalityTest"/>
          <include name="signedUser_cpnPDP_ES"/>
          <include name="TC_PD_002_TC_PD_004_signedUser_verifyProductDetailsPageTest"/>
          <include name="multiple_UOM_ProductListPage"/>
          <include name="pG_PLP_PGCheckbox"/>
          <include name="setUp"/>
          <include name="TC_PDP_011_signedUser_createAndDeleteMyProductGroupInProductDetailsPage"/>
          <include name="ShareFunctionality"/>
          <include name="TC_PDP_008_PrintFunctionalityTest"/>
          <include name="multiple_UOM_PDP_MyCartVerification"/>
          <include name="createAndDeleteCPNInProductDetailsPageTest"/>
          <include name="callStopRecording"/>
          <include name="multiple_UOM_ProductDetailPage"/>
          <include name="multiple_UOM_PLP_MyCartVerification"/>
          <include name="cpn_clickRemove_ErrorScenarioTest"/>
          <include name="pG_PLPInPopUp_ES"/>
        </methods>
      </class> <!-- org.etna.modules.PDPModuleTest -->
      <class name="org.etna.modules.RegistrationModuleTest">
        <methods>
          <include name="verifyNewCCUserRegistrationES"/>
          <include name="verifyNewCommercialRegistrationCustomerFunctionality"/>
          <include name="setUp"/>
          <include name="verifyNewRetailCustomerTab"/>
          <include name="verifyNewCommercialCustomerTab"/>
          <include name="startRecording"/>
          <include name="verifyNewRetailRegistrationCustomerFunctionality"/>
          <include name="verifyNewRURegistrationES"/>
          <include name="TC_Login_019_verifyRegisterPage"/>
          <include name="callStopRecording"/>
        </methods>
      </class> <!-- org.etna.modules.RegistrationModuleTest -->
    </classes>
  </test> <!-- regression(failed)(failed) -->
</suite> <!-- Suite -->
